
#columnas{
    display: block;
    
       
}
#cuadro{
    border: gray 2px solid;
    margin-bottom: 10px;    
}
#Columna1{  
   width: 100%; 
   height: 50px; 
   background-color: #900c3e;
}
#Columna2{
    width: 100%;
    height: 50px; 
    background-color: #c70039 ;
}

#boton{
    color: white;
    padding: 0.8em;
    background-color: #c70039;
    border: 1px solid transparent;
    border-radius: 5px;
   position: relative;
}

 @media (min-width: 1000px){   
#columnas{
    display: flex;
        width: 100%; 
        height: 50px; 
}
}